.settings {
    transition: 1s ease-in-out;
}

.gear {
    transition: .35s;
    cursor: pointer;
    position: absolute;
}

.red-gear {
    color: darkred;
    transform: translateX(2px) scale(0.95) rotate(180deg);

}

.gear:hover {
    transform:translateX(2px) scale(0.95) rotate(180deg);

    color: grey;
}