* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background: black;
    text-align: center;
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.app {
    padding: 10px;
    border: 1px none ;
    background: #f2f2f2;
}

header {
    text-align: center;
}

header img {
    height: 125px;
    width: 125px;
    margin-right: 10px;
    transition-duration: 1s;
}

header img:hover {
    transform: translate(0, 8px);
    transition-duration: 0.5s;
}

header .order {
    margin-top: 35px;
}

app {
    font-family: "Ubuntu", serif;
    text-align: center;
    display: flex;
}

div {
    margin-bottom: 10px;
}

.title {
    display: flex;
    justify-content: center;
}

b {
    color: darkblue;
    overflow: auto;
}

body > #bg {
    height: 105%;
    width: 105%;
    left: -10px;
    top: -10px;
    background-color: lightgray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: fixed;
    z-index: -1;
}

.white {
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}

.link:link {
    color: dodgerblue;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
}

.link:visited {
    color: mediumpurple;
}

.link:hover {
    color: hotpink;
}

.link:active {
    color: whitesmoke;
}

.error-message {
    font-size: 17px;
    font-weight: bold;
    color: red;
}

#recuperation {
    margin-top: 50px;
}

#localisation {
    height: 125px;
}

ul {
    list-style-type: none;
    display: inline;
}

.OneLine {
    display: inline;
}