* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body::-webkit-scrollbar {
    width: 10px
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.app {
    padding: 10px;
    border: 1px darkblue solid;
    background-image: linear-gradient(to top right, mediumpurple, white);
}
header {
    text-align: center;
}
header img {
    height:100px;
    width:100px;
    margin-right: 10px;
    transition-duration: 1s;
}
.hover-item {
    transition: 0.25s;
}
.hover-item:hover {
    transform: translate(-3px, -5px);
}
.hover-item:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: default;
    pointer-events: none;
}
.hover-item:active {
    background-color: #ece6d9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
header img:hover {
    transform: translate(0, 8px);
    transition-duration: 0.5s;
}
header .order {
    margin-top: 35px;
}
app {
    font-family: "Ubuntu", serif;
    text-align: center;
    display: flex;
}
div {
    margin-bottom: 10px;
}
button {
    margin: 0 0 10px 10px;
    color: #860ace;
    cursor: pointer;
    padding: 8px 16px;
    border: 3px solid #be1aff;
    border-radius: 15px;
    font-weight: bold;
    font-size: 17px;
    background: white;
}
.title {
    display: flex;
    justify-content: center;
}
br {
    overflow: auto;
}
b {
    color: darkblue;
    overflow: auto;
}

body > #bg {
    height: 100%;
    width: 100%;
    background-color: rebeccapurple;
    clip-path: polygon(0 0, 100% 0%, 34% 100%, 0 100%);
    position: fixed;
    z-index: -1;
}

body > #bg2 {
    height: 100%;
    width: 100%;
    background-color: white;
    clip-path: polygon(30% 100%, 100% 0%, 100% 100%, 30% 100%);
    position: fixed;
    z-index: -1;
}

.white {
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}